@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");

body {
	background-image: linear-gradient(to right, #accbee 0%, #e7f0fd); 
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    padding-top: 40px;
	width: 500px;
	height: 360px;
	background-color: rgba(167, 157, 157, 0.322);
	backdrop-filter: blur(7px);
	border-radius:5px 5px 5px 5px;
    font-family: "Raleway", sans-serif;
	

}


.container form {
	padding: 0 60px;
	box-sizing: border-box;
}


.txt_field {
	position: relative;
	border-bottom: 2px solid #ffffff;
	margin: 30px 0;
}

.txt_field input {
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;

}
h1 {
	color: #ffffff;
}

.txt_field label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #ffffff;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}

.txt_field span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #2691d9;
	transform: scaleX(0);
	transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
	top: -5px;
	color: #679ec2;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
	transform: scaleX(1);
}


.forgot:hover {
	text-decoration: underline;
}

input[type="submit"] {
	width: 100%;
	height: 50px;
	border: none;
	background: #2691d9;
	border-radius: 15px;
	font-size: 16px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}